<!-- Footer -->
<footer class="page-footer font-small bg-white indigo">
  <!-- Footer Links -->
  <div class="container">
    <!-- Grid row-->
    <div class="row text-center d-flex justify-content-center pt-5">
      <div class="col-md-6">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!">Sobre nosotros</a>
        </h6>
      </div>
      <!-- Grid row-->
      <div class="col-md-6">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!">Contacto</a>
        </h6>
      </div>
    </div>
    </br>
    <hr>
    </br>
    <!-- Grid row-->
    <div class="row pb-3 text-center d-flex justify-content-center">
      <!-- Grid column -->
      <div class="col-md-12">
        <div class="mb-5 flex-center">
          <!-- Facebook -->
          <a>
            <img id="iconos-footer" src="../../assets/images/facebook.png" onclick="goTo('https://www.facebook.com/')">
          </a>
          <!-- Twitter -->
          <a>
            <img id="iconos-footer" src="../../assets/images/twitter.png" onclick="goTo('https://www.twitter.com/')">
          </a>
          <!-- Youtube +-->
          <a>
            <img id="iconos-footer" src="../../assets/images/youtube.png" onclick="goTo('https://www.youtube.com/')">
          </a>
          <!--Github -->
          <a>
            <img id="iconos-footer" src="../../assets/images/github.png" onclick="goTo('https://github.com/mllim0/PaginaWebSIPC/tree/master')">
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- Copyright -->
  <div class="footer-copyright text-center">© 2019 Copyright:
  </div>
</footer>