#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.slider{
  height: 100vh;
  position: fixed;
}

#boton-lol{
  background: transparent;
  border: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 17% 45%;
}

#boton-ow{
  background: transparent;
  border: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 17% 45%;
}

.container {
  position: relative;
  text-align: center;
}

.descripcion-logo{
  color: aqua;
  position: relative;
  text-justify: auto;
  text-align: center;
}

#descripcion-juego{
  color: rgb(255, 255, 255);
}





