<!DOCTYPE html>
<html lang="es">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

  <!--CSS-->
  <link rel="stylesheet" type="text/css" href="/stylesheets/logIn.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/footer.css">

  <!--SCRIPTS-->
  <script src="/javascipt/jquery-3.4.1.min.js"></script>
  <script src="/javascipt/footer.js"></script>

  <title>Log in - E-SPORTS</title>
</head>

<body>

<div id="login_div">
  <div class="container-contact100">
    <div class="wrap-contact100">
        <span class="contact100-form-title">
          Inicia Sesión
        </span>

        <label class="label-input100" for="email">Correo electrónico *</label>
        <div class="wrap-input100 validate-input">
          <input id="email" class="input100" type="text" name="email" placeholder="">
          <span class="focus-input100"></span>
        </div>

        <label class="label-input100" for="email">Contraseña *</label>
        <div class="wrap-input100 validate-input">
          <input id="password" class="input100" type="password" name="email" placeholder="">
          <span class="focus-input100"></span>
        </div>

        <div class="container-contact100-form-btn">
          <button class="contact100-form-btn" onclick="login()">
            <span>
              Acceder
              <i class="zmdi zmdi-arrow-right m-l-8"></i>
            </span>
          </button>
        </div>

    </div>
  </div>
</div>

  <div id="user_div"> 
    <div class="container-contact100">
      <div class="wrap-contact100">
        <span class="contact100-form-title">
          Bienvenido
        </span>
        <div class="container-contact100-form-btn">
          <button class="contact100-form-btn" onclick="logout()">
            <span>
              Salir
              <i class="zmdi zmdi-arrow-right m-l-8"></i>
            </span>
          </button>
        </div>
      </div>  
    </div>
  </div>

  <!-- Footer -->
  <div id="Footer"></div>
  <script>
    $("#Footer" ).load( "/views/templates/footer.html" );
  </script>

  <!-- Optional JavaScript -->
  <script defer src="https://www.gstatic.com/firebasejs/6.2.0/firebase-app.js"></script>
  <script defer src="https://www.gstatic.com/firebasejs/6.2.0/firebase-auth.js"></script>
  <script defer src="https://www.gstatic.com/firebasejs/6.2.0/firebase-firestore.js"></script>
  <script defer src="/javascipt/logIn.js"></script>
  
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>



</html>