<!DOCTYPE html>
<html lang="en">

 	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Mapa Overwatch</title> 
        <meta name="description" content="Mapa de quipos de Overwatch"/>
        <meta name="keywords" content="Equipos, mapa, torneo, eSports, Español, Shanghai Dragons, Chengdu Hunters" />
        <link rel="icon" href="/assets/images/LogoPagina.ico" type="image/x-icon">
		<!-- Bootstrap Css-->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
        <link rel="stylesheet" href="../../stylesheets/definitivo-ow.css">
        <link rel="stylesheet" href="../../stylesheets/footer.css">
        <link rel="stylesheet" href="../../stylesheets/menu.css">
	</head>
	<body style="margin: 0; background-color:  #222222;">

		<!-- jQuery first, then Tether, then Bootstrap JS. -->
		<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="../../javascript/bootstrap.min.js"></script>
        <script src="../../javascript/jquery-3.4.1.min.js"></script>
		<script type="text/javascript" src="https://www.amcharts.com/lib/3/ammap.js"></script>
		<script type="text/javascript" src="https://www.amcharts.com/lib/3/maps/js/worldLow.js"></script>
		<script type="text/javascript" src="../../javascript/mapa-overwatch.js"></script>
        <script type="text/javascript" src="../../javascript/definitivo.js"></script>
		<script type="text/javascript" src="../../javascript/ocultarelement-ow.js"></script>
        <script type="text/javascript" src="../../javascript/footer.js"></script>
        <script type="text/javascript" src="../../javascript/menu.js"></script>
		<!-- Estilos en Css-->

		<!-- Barra de navegación -->
		<div id="sideNavigation" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="../../index.html">Página principal</a>
            <a href="OW/main.html">Inicio</a>
            <a href="OW/tournament.html">Torneos</a>
            <a href="logIn.html">Iniciar sesión</a>
        </div>
               
        <nav class="topnav fixed-top">
            <a href="#" onclick="openNav()">
                <svg width="30" height="30" id="icoOpen">
                    <path d="M0,5 30,5" stroke="#811" stroke-width="5"/>
                    <path d="M0,14 30,14" stroke="#811" stroke-width="5"/>
                    <path d="M0,23 30,23" stroke="#811" stroke-width="5"/>
                </svg>
            </a>
            <img src="../../assets/images/ow-logo.png" class="img-fluid" alt="AQUÍ VA IMAGEN JUEGO" onclick="window.scrollTo(0,0);"></img>
        </nav>
		<!-- Fin de la barra de navegación -->
	
        <!-- Información a cerca de los equipos -->
        <div id ="norte_america" class="container my-2 p-5 ocultar">
            <div id="carousel1" class="carousel slide" data-ride="carousel" data-interval="4000" data-ride="true">
                <ol class="carousel-indicators">
                    <li data-target="#carousel1" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel1" data-slide-to="1"></li>
                    <li data-target="#carousel1" data-slide-to="2"></li>
                    <li data-target="#carousel1" data-slide-to="3"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-lg-3 col-xl-3 col-md-6 col-sm-12">
                                <div class="bg-transparent">
                                    <a href="https://liquipedia.net/overwatch/Atlanta_Reign"><img class="card-img-top img-fluid up-img" src="../../assets/images/Ow/Norte america/Atlanta_Reign_logo.png"></a>
                                    <div class="card-body text-center text-justify">
                                        <CC>Localizaci&oacute;n: ATLANTA, GA</CC>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-xl-3 col-md-6 col-sm-12 my-1">
                                <div class="bg-transparent">
                                    <a href="https://liquipedia.net/overwatch/Boston_Uprising"><img class="card-img-top img-fluid" src="../../assets/images/Ow/Norte america/Boston_Uprising_blue_logo.png"></a>
                                    <div class="card-body text-center text-justify">
                                        <CC>Localizaci&oacute;n: BOSTON, MC</CC>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-xl-3 col-md-6 col-sm-12 my-1">
                                <div class="bg-transparent">
                                    <a href="https://liquipedia.net/overwatch/Dallas_Fuel"><img class="card-img-top img-fluid" src="../../assets/images/Ow/Norte america/Dallas_Fuel_logo.png"></a>
                                    <div class="card-body text-center text-justify ">
                                        <CC>Localizaci&oacute;n: DALLAS, TX</CC>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-xl-3 col-md-6 col-sm-12 my-1">
                                <div class="bg-transparent">
                                    <a href="https://liquipedia.net/overwatch/Florida_Mayhem"><img class="card-img-top img-fluid" src="../../assets/images/Ow/Norte america/Dallas_Fuel_logo.png"></a>
                                    <div class="card-body text-center text-justify">
                                        <CC>Localizaci&oacute;n: FLORIDA</CC>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-lg-3 col-xl-3 col-md-6 col-sm-12 my-1">
                                <div class="bg-transparent">
                                    <a href="https://liquipedia.net/overwatch/Houston_Outlaws"><img class="card-img-top img-fluid" src="../../assets/images/Ow/Norte america/Houston_Outlaws_logo.png"></a>
                                    <div class="card-body text-center text-justify">
                                        <CC>Localizaci&oacute;n: HOUSTON, TX</CC>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-xl-3 col-md-6 col-sm-12 my-1">
                                <div class="bg-transparent">
                                    <a href="https://liquipedia.net/overwatch/Los_Angeles_Valiant"><img class="card-img-top img-fluid" src="../../assets/images/Ow/Norte america/LA_Valiant_logo.png"></a>
                                    <div class="card-body text-center text-justify">
                                        <CC>Localizaci&oacute;n: </B>LOS ANGELES, CA</CC>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-xl-3 col-md-6 col-sm-12 my-1">
                                <div class="bg-transparent">
                                    <a href="https://liquipedia.net/overwatch/Los_Angeles_Gladiators"><img class="card-img-top img-fluid" src="../../assets/images/Ow/Norte america/Los_Angeles_Gladiators_logo.png"></a>
                                    <div class="card-body text-center text-justify ">
                                        <CC>Localizaci&oacute;n: LOS ANGELES, CA</CC>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-xl-3 col-md-6 col-sm-12 my-1">
                                <div class="bg-transparent">
                                    <a href="https://liquipedia.net/overwatch/New_York_Excelsior"><img class="card-img-top img-fluid" src="../../assets/images/Ow/Norte america/New_York_Excelsior_logo.png"></a>
                                    <div class="card-body text-center text-justify">
                                        <CC>Localizaci&oacute;n: </B>NEW YORK CITY, NY</CC>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-lg-3 col-xl-3 col-md-6 col-sm-12 my-1">
                                <div class="bg-transparent">
                                    <a href="https://liquipedia.net/overwatch/Philadelphia_Fusion"><img class="card-img-top img-fluid" src="../../assets/images/Ow/Norte america/Philadelphia_Fusion_logo.png"></a>
                                    <div class="card-body text-center text-justify">
                                        <CC>Localizaci&oacute;n: PHILADELPHIA</CC>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-xl-3 col-md-6 col-sm-12 my-1">
                                <div class="bg-transparent">
                                    <a href="https://liquipedia.net/overwatch/San_Francisco_Shock"><img class="card-img-top img-fluid" src="../../assets/images/Ow/Norte america/San_Francisco_Shock_logo.png"></a>
                                    <div class="card-body text-center text-justify">
                                        <CC>Localizaci&oacute;n: </B>SAN FRANCISCO, CA</CC>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-xl-3 col-md-6 col-sm-12 my-1">
                                <div class="bg-transparent">
                                    <a href="https://liquipedia.net/overwatch/Toronto_Defiant"><img class="card-img-top img-fluid" src="../../assets/images/Ow/Norte america/Toronto_Defiant_logo.png"></a>
                                    <div class="card-body text-center text-justify ">
                                        <CC>Localizaci&oacute;n: TORONTO</CC>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-xl-3 col-md-6 col-sm-12 my-1">
                                <div class="bg-transparent">
                                    <a href="https://liquipedia.net/overwatch/Vancouver_Titans"><img class="card-img-top img-fluid" src="../../assets/images/Ow/Norte america/Vancouver_Titans_logo.png"></a>
                                    <div class="card-body text-center text-justify">
                                        <CC>Localizaci&oacute;n: </B>VANCOUVER</CC>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-lg-3 col-xl-3 col-md-6 col-sm-12 my-1"></div> 
                            <div class="col-lg-7 col-xl-6 col-md-12 col-sm-12 my-1">
                                <div class="bg-transparent">
                                    <a href="https://liquipedia.net/overwatch/Washington_Justice"><img class="card-img-top img-fluid" src="../../assets/images/Ow/Norte america/Washington_Justice_logo.png"></a>
                                    <div class="card-body text-center text-justify ">
                                        <CC>Localizaci&oacute;n: WASHINGTON, DC</CC>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id ="china" class="container my-2 p-5 ocultar">
            <div class="row">
                <div class="col-lg-3 col-xl-3 col-md-6 col-sm-12">
                    <div class="bg-transparent">
                        <a href="https://liquipedia.net/overwatch/Chengdu_Hunters"><img class="card-img-top img-fluid up-img" src="../../assets/images/Ow/China/Chengdu_Hunters_logo.png"></a>
                        <div class="card-body text-center text-justify">
                            <CC>Localizaci&oacute;n: CHINA, CHENGD&Uacute;</CC>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-xl-3 col-md-6 col-sm-12 my-1">
                    <div class="bg-transparent">
                        <a href="https://liquipedia.net/overwatch/Guangzhou_Charge"><img class="card-img-top img-fluid" src="../../assets/images/Ow/China/Guangzhou_Charge_logo.png"></a>
                        <div class="card-body text-center text-justify">
                            <CC>Localizaci&oacute;n: CHINA, GUANGZHOU</CC>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-xl-3 col-md-6 col-sm-12 my-1">
                    <div class="bg-transparent">
                        <a href="https://liquipedia.net/overwatch/Hangzhou_Spark"><img class="card-img-top img-fluid" src="../../assets/images/Ow/China/Hangzhou_Spark_logo.png"></a>
                        <div class="card-body text-center text-justify ">
                            <CC>Localizaci&oacute;n: CHINA, HANGZHOU</CC>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-xl-3 col-md-6 col-sm-12 my-1">
                    <div class="bg-transparent">
                        <a href="https://liquipedia.net/overwatch/Shanghai_Dragons"><img class="card-img-top img-fluid" src="../../assets/images/Ow/China/Shanghai_Dragons_logo.png"></a>
                        <div class="card-body text-center text-justify">
                            <CC>Localizaci&oacute;n: CHINA, SHANGAI</CC>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id ="europa" class="container my-2 p-5 ocultar">
            <div class="row">
                <div class="col-lg-2 col-xl-2 col-md-4 col-sm-12"></div>
                <div class="col-lg-3 col-xl-3 col-md-4 col-sm-12">
                    <div class="bg-transparent">
                        <a href="https://liquipedia.net/overwatch/London_Spitfire"><img class="card-img-top img-fluid up-img" src="../../assets/images/Ow/Europa/London_Spitfire_logo.png"></a>
                        <div class="card-body text-center text-justify">
                            <CC>Localizaci&oacute;n: LONDON</CC>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-xl-2 col-md-5 col-sm-12"></div>
                <div class="col-lg-3 col-xl-3 col-md-4 col-sm-12 my-1">
                    <div class="bg-transparent">
                        <a href="https://liquipedia.net/overwatch/Paris_Eternal"><img class="card-img-top img-fluid" src="../../assets/images/Ow/Europa/Paris_Eternal_logo.png"></a>
                        <div class="card-body text-center text-justify">
                            <CC>Localizaci&oacute;n: PARIS</CC>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id ="corea" class="container my-2 p-5 ocultar">
            <div class="row">
                <div class="col-lg-3 col-xl-4 col-md-6 col-sm-12 my-1"></div> 
                <div class="col-lg-7 col-xl-4 col-md-12 col-sm-12 my-1">
                    <div class="bg-transparent">
                        <a href="https://liquipedia.net/overwatch/Seoul_Dynasty"><img class="card-img-top img-fluid" src="../../assets/images/Ow/Korea/Seoul_Dynasty_logo.png"></a>
                        <div class="card-body text-center text-justify ">
                            <CC>Localizaci&oacute;n: SEOUL, COREA DEL SUR</CC>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
        <!-- Fin de la información a cerca de los equipos -->
        <section class=" container-fluid parallax-section style3 position-relative mt-3 p-4" id="first" style="height: 120px;">
            <div class="m-auto inner">
                <div class="align-center">
                    <h2>Mapa de equipos de Overwatch</h2>
                    <p>Zonas geográficas donde se localizan los principales equipos</p>
                </div>
            </div>
        </section>
        <!-- Mapa responsivo -->
        <div class="container-fluid my-2">
            <div class="row">
                <section class="parallax col-lg-1 col-xl-1 col-md-1 col-sm-1" style="width: 100%; height: 39rem;"></section>
                <div class="col-lg-10 col-xl-10 col-md-10 col-sm-10 " id="map-ow" style="width: 100%; height: 39rem; box-shadow: 10px 2px 8px 0px rgba(0,0,0,0.6); left: -10px;"></div>
                <section class="parallax col-lg-1 col-xl-1 col-md-1 col-sm-1" style="width: 100%; height: 39rem;"></section>
            </div>
        </div>
        <!-- Fin del mapa responsivo -->
        <div class="container my-2 p-5">
            <div class="row">
                <div class="col-xl-4 col-lg-3 col-md-5 col-sm-11 my-1">
                    <button type="button" class="btn-NA btn-lg" onclick="muestra_oculta('norte_america') ;">Norte américa</button>
                </div>
                <div class="col-xl-3 col-lg-3  col-md-5 col-sm-11 my-1 ">
                    <button type="button" class="btn-EU btn-primary btn-lg" onclick="muestra_oculta('europa'); ">Europa</button>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-5 col-sm-11 my-1">
                    <button type="button" class="btn-China btn-lg" onclick="muestra_oculta('china');">China</button>
                </div>
                <div class="col-xl-1 col-lg-3 col-md-5 col-sm-11 my-1">
                    <button type="button" class="btn-Korea btn-lg" onclick="muestra_oculta('corea');">Corea</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="Footer" class="container-fluid media-body" style="width: 102%; left: -10px;"></div>
        </div>
        <script>
          $("#Footer" ).load( "/views/templates/footer.html");
        </script> 
    </body>
</html>
