<!DOCTYPE HTML>
<html>
	<head>
        <head>
            <!-- Required meta tags -->
            <title>Prueba</title>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="../../stylesheets/bootstrap.min.css">
            <link rel="stylesheet" href="../../stylesheets/page2.css"/>
            <title>Hello, world!</title>
        </head>
	</head>
	<body>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="../../javascipt/bootstrap.min.js"></script>
        <script src="../../javascipt/page2.js"></script>
        
        <div id="sideNavigation" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="#">Mapa</a>
            <a href="#">Extra</a>
            <a href="#">Torneos</a>
            <a href="#">Iniciar sesión</a>
        </div>
               
        <nav class="topnav fixed-top">
            <a href="#" onclick="openNav()">
                <svg width="30" height="30" id="icoOpen">
                    <path d="M0,5 30,5" stroke="#000" stroke-width="5"/>
                    <path d="M0,14 30,14" stroke="#000" stroke-width="5"/>
                    <path d="M0,23 30,23" stroke="#000" stroke-width="5"/>
                </svg>
            </a>
            <img src="../../assets/images/lol.png" class="img-fluid" >
        </nav>
        <section class="parallax">
            <div class="d-flex flex-column bd-highlight mb-3" id="first">
                <div class="p-2 bd-highlight"><p>Lorem ipsum dolor sit amet.</p></div>
                <div class="p-2 bd-highlight"><p class="display-1">Lorem.</p></div>
            </div>
        </section>
        <section class="container-fluid parallax-section style3 position-relative m-0" id="first">
            <div class="m-auto inner">
                <div class="align-center">
                    <p>Una selección de los equipos más importantes del momento</p>
                    <h2>Equipos relevantes</h2>
                </div>
            </div>
        </section>
        <div class="container my-2 p-5">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="4000" data-ride="true">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-lg-3 col-xl-3 col-md-6 col-sm-12">
                                <div class="card bg-transparent">
                                    <img class="card-img-top img-fluid up-img" src="../../assets/images/skt.png">
                                    <div class="card-body text-center text-justify">
                                        <p class="card-text lead">Lorem ipsum dolor sit.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-xl-3 col-md-6 col-sm-12 my-1">
                                <div class="card bg-transparent">
                                    <img class="card-img-top img-fluid" src="../../assets/images/g2.png" id="">
                                    <div class="card-body text-center text-justify">
                                        <p class="card-text lead">Lorem ipsum dolor sit.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-xl-3 col-md-6 col-sm-12 my-1">
                                <div class="card bg-transparent">
                                    <img class="card-img-top img-fluid" src="../../assets/images/fnatic.png">
                                    <div class="card-body text-center text-justify ">
                                        <p class="card-text lead">Lorem ipsum dolor sit.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-xl-3 col-md-6 col-sm-12 my-1">
                                <div class="card bg-transparent">
                                    <img class="card-img-top img-fluid" src="../../assets/images/ig.png">
                                    <div class="card-body text-center text-justify">
                                        <p class="card-text lead">Lorem ipsum dolor sit.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-lg-3 col-xl-3 col-md-6 col-sm-12 my-1">
                                <div class="card bg-transparent">
                                    <img class="card-img-top img-fluid" src="../../assets/images/skt.png">
                                    <div class="card-body text-center text-justify">
                                        <p class="card-text lead">Lorem ipsum dolor sit.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-xl-3 col-md-6 col-sm-12 my-1">
                                <div class="card bg-transparent">
                                    <img class="card-img-top img-fluid" src="../../assets/images/g2.png" id="">
                                    <div class="card-body text-center text-justify">
                                        <p class="card-text lead">Lorem ipsum dolor sit.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-xl-3 col-md-6 col-sm-12 my-1">
                                <div class="card bg-transparent">
                                    <img class="card-img-top img-fluid" src="../../assets/images/fnatic.png">
                                    <div class="card-body text-center text-justify ">
                                        <p class="card-text lead">Lorem ipsum dolor sit.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-xl-3 col-md-6 col-sm-12 my-1">
                                <div class="card bg-transparent">
                                    <img class="card-img-top img-fluid" src="../../assets/images/ig.png">
                                    <div class="card-body text-center text-justify">
                                        <p class="card-text lead">Lorem ipsum dolor sit.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-lg-3 col-xl-3 col-md-6 col-sm-12 my-1">
                                <div class="card bg-transparent">
                                    <img class="card-img-top img-fluid" src="../../assets/images/skt.png">
                                    <div class="card-body text-center text-justify">
                                        <p class="card-text lead">Lorem ipsum dolor sit.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-xl-3 col-md-6 col-sm-12 my-1">
                                <div class="card bg-transparent">
                                    <img class="card-img-top img-fluid" src="../../assets/images/g2.png" id="">
                                    <div class="card-body text-center text-justify">
                                        <p class="card-text lead">Lorem ipsum dolor sit.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-xl-3 col-md-6 col-sm-12 my-1">
                                <div class="card bg-transparent">
                                    <img class="card-img-top img-fluid" src="../../assets/images/fnatic.png">
                                    <div class="card-body text-center text-justify ">
                                        <p class="card-text lead">Lorem ipsum dolor sit.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-xl-3 col-md-6 col-sm-12 my-1">
                                <div class="card bg-transparent">
                                    <img class="card-img-top img-fluid" src="../../assets/images/ig.png">
                                    <div class="card-body text-center text-justify">
                                        <p class="card-text lead">Lorem ipsum dolor sit.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <section class="container-fluid parallax-section style3 position-relative my-5 " id="second">
                <div class="m-auto inner">
                    <div class="align-center">
                        <p>Una selección de los equipos más importantes del momento</p>
                        <h2>Equipos relevantes</h2>
                    </div>
                </div>
            </section>
            <div class="relleno">
            </div>
            <div class="container bg-danger">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste quod ea, nisi blanditiis soluta similique dicta ut eos maxime! Id quidem illo mollitia atque? Officia optio aut facilis ipsa rerum placeat ipsam! Esse aperiam voluptates quaerat quidem dolores iste tempora blanditiis officia earum, eligendi dignissimos ut dolor soluta ex? Assumenda, sunt, possimus odio consequatur labore omnis adipisci aspernatur obcaecati quas illo fuga magni! Eum molestias beatae explicabo, cum aut excepturi soluta consequuntur ducimus velit error! Odit aliquam itaque omnis saepe sit inventore impedit temporibus, illo incidunt et provident eum explicabo corrupti, a velit quam, ad officia autem illum adipisci veritatis.</p>
            </div>
        </body>
</html>